<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About COVID-19</title>
    <meta charset="UTF-8">
    <meta name="description" content="about corona">
    <meta name="keywords" content="covid-19,corona,pendamic,about,corona">
    <meta name="author" content="Smit Shah">

    <link rel="stylesheet" href="../stylesheet/styles.css" />
    <link rel="stylesheet" href="../stylesheet/aboutCorona.css" />
    <style>
        
    </style>
</head>

<body>
    <div class="wrapper" style="background: url('../images/COVID-19.jpg') no-repeat center center;background-size: auto auto;">
        <nav>
            <img class="logo" src="../images/logo.png" alt="logo" />
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">About corona</a></li>
                <li><a href="live.html">Live Stats</a></li>
                <li><a href="prevention.html">Prevention</a></li>
                <li><a href="assessment.html">Self-Assessment</a></li>
<!--                <li><a href="#">Global News</a></li>-->

            </ul>
        </nav>
                <center style="margin-top: 1vw"><img src="../images/logo.png" style="width: 40%; display: inline-block; margin: auto"/></center>
        <div class="section">
            
            <div class="feature">
                
                <ul class="first" style="">
                    <li><button onclick="window.location.href='#symp'"> Symptoms</button></li>
                    <li><button onclick="window.location.href='#spread'">How does it spread?</button></li>
                    <li><button onclick="window.location.href='#treatment'"> Is there any Treatment?</button></li>
                </ul>
                <ul class="second" style="float: right; list-style-type: none">
                    <li><button onclick="window.location.href='#sick'">Feeling Sick?</button></li>
                    <li><button onclick="window.location.href='#protect'">Protect Yourself</button></li>
                    <li><button onclick="window.location.href='#sd'"> Social Distancing</button></li>
                </ul>
                
                
                
                
                
                
            </div>
            </div>
    </div>
    <div>
<!--        symptoms-->
        <section id="symp">
            <heading>
                <h3>What are the symptoms of COVID-19?</h3>
            </heading>
            <ul>
                <caption>General symptoms of COVID-19 according to the WHO:</caption>
                <li>Fever, tiredness, and dry cough are the most common symptoms</li>
                <li>1 in 6 people with COVID-19 becomes seriously ill and develops difficulty breathing</li>
                <li>80% of people recover from COVID-19 without needing special treatment</li>
            </ul>
            <p>Emergency warning signs of COVID-19 according to the Centers for Disease Control and Prevention (CDC):</p>
            <ul>
                <caption>Anyone experiencing any of the following emergency warning signs for COVID-19 should seek medical attention immediately. Emergency warning signs include*:</caption>
                <li>Difficulty breathing or shortness of breath</li>

                <li>Persistent pain or pressure in the chest</li>
                <li>New confusion or inability to arouse</li>
                <li>Bluish lips or face</li>
            </ul>

            <h5>*This list is not all inclusive. Please consult your medical provider for any other symptoms that are severe or concerning.</h5>
        </section>
<!--        spread section-->
        <section id="spread">
            <heading>
                <h3>How does coronavirus spread, and who is at risk?</h3>
            </heading>
            <p>From the CDC webpage on How COVID-19 Spreads.</p>
            <ul>
                <caption>The virus is thought to primarily spread person-to-person:</caption>
                <li>Between people who are in close contact with one another (within about 6 feet).</li>
                <li>Through respiratory droplets produced when an infected person coughs or sneezes.</li>
            </ul>
            <article>
                <p>Contact with contaminated surfaces or objects may also spread the coronavirus. According to the CDC, “it may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes.”</p>
            </article>
            <p>Anyone can get COVID-19 if exposed to SARS-CoV-2, and anyone can potentially be at risk of serious illness. However, the CDC states on the webpage People at Risk for Serious Illness from COVID-19 that the highest risk groups are elderly adults and people who have other serious health concerns, including those with heart disease, diabetes and lung disease.</p>
            

        </section>
        <!--        treatment section-->
        <section id="treatment">
            <heading>
                <h3>Are there any treatments for COVID-19?</h3>
            </heading>
            <p>According to the CDC: “There is no specific antiviral treatment recommended for COVID-19. People with COVID-19 should receive supportive care to help relieve symptoms. People who think they may have been exposed to COVID-19 should contact their healthcare provider immediately.”</p>
            
            <p>According to the WHO: “While some western, traditional or home remedies may provide comfort and alleviate symptoms of COVID-19, there is no evidence that current medicine can prevent or cure the disease. WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19.”</p>
            

        </section>
<!--        sick section-->
        <section id="sick">
            <heading>
                <h3>What to do if you feel sick</h3>
            </heading>
            <p>From the CDC’s What to Do if You Are Sick resource: “There is no specific antiviral treatment recommended for COVID-19. People with COVID-19 should receive supportive care to help relieve symptoms.”</p>
            
            <p>The CDC recommends that people experiencing emergency warning signs seek medical care immediately while following the CDC’s recommendations to help prevent the spread of COVID-19 while sick.</p>
            
            <p>For people who suspect they may have COVID-19, but aren’t sick enough to be hospitalized, the CDC recommends Caring For Yourself at Home following the comprehensive list of recommendations provided, which includes limiting contact with other people to avoiding spreading the disease further.</p>
            

        </section>
<!--        protect section-->
        <section id="protect">
            <heading>
                <h3>How to protect yourself and reduce the risk of getting COVID-19</h3>
            </heading>
            <p>The CDC’s Steps to Prevent Illness page offers comprehensive information for how people can protect themselves and those around them. These recommendations include information about regular handwashing, cleaning and disinfecting everyday items, social distancing, and who should wear facemasks (primarily caregivers and people who are infected who will be in close contact with others).</p>
            

        </section>
<!--        social distancing section-->
        <section id="sd">
            <heading>
                <h3>What is social distancing?</h3>
            </heading>
            <p>The Center for Infectious Disease Research and Policy (CIDRAP) defines social distancing as: “Measures taken to restrict when and where people can gather to stop or slow the spread of infectious diseases. Social distancing measures include limiting large groups of people coming together, closing buildings and canceling events.”</p>
            
            <p>Around the world, many governments, schools and business have implemented social distancing protocols by asking people to study or work from home whenever possible; canceling festivals, meetings, conferences and other gatherings; and encouraging people to limit close contact with others when possible.</p>
            

        </section>
    </div>
    <footer>
        <p> Thank You For Vising Us...</p>
    </footer>
</body>

</html>
