<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="description" content="corona news">
        <meta name="keywords" content="covid-19,corona,pendamic">
        <meta name="author" content="SmitShah">

<!--        common stylesheet-->
        <link rel="stylesheet" href="../stylesheet/styles.css"/>
        <link rel="stylesheet" href="../stylesheet/home.css"/>
        
    </head>
    
    <body>
        <div class="wrapper">
            <nav>
                <picture>
                  <source srcset="../images/logo.png">
                  <source srcset="../images/logo.gif">
                  <img class="logo" src="../images/logo.gif" alt="logo"/>
                </picture>
                
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="aboutcorona.html">About corona</a></li>
                    <li><a href="live.html">Live Stats</a></li>
                    <li><a href="prevention.html">Prevention</a></li>
                    <li><a href="assessment.html">Self-Assessment</a></li>
<!--                    <li><a href="#">Global News</a></li>-->
                    
                </ul>
            </nav>
            <div class="section">
                <h1 style="font-size: 2.2vw; margin:0;padding: 0;">Stay Home, Stay Safe</h1>
                <blockquote>
                    This is the new normal
                </blockquote>
            </div>
        </div>
<!--        mainShowcase-->
        <showcase>
            <h1> News Update:</h1>
<!--            div having news blocks-->
            <div class="news">
<!--                news block-->
                <div class="cnews">
                    <h3>Coronavirus outbreak: How long are COVID-19 restrictions expected to last in Canada?</h3>
                        
                    <iframe src="https://www.youtube.com/embed/Kah_k8kKTJU"></iframe>
<!--                    content having all paras related to youtube video-->
                    <div class="content">
                        <p>Speaking to reporters outside Rideau Cottage in Ottawa, Ontario on Wednesday, Canadian Prime Minister Justin Trudeau was asked about recent media reports that the Government of Canada expects the social distancing and public shutdown guidelines to continue until July. </p>
                        <p>Trudeau refused to give a specific timeline on when the lockdowns and quarantines might be lifted but said Wednesday the measures could last for “weeks or even months.”</p>
                        <p>“We know [these measures] are going to be in place a number of more weeks, perhaps even months. But everything depends on how Canadians behave,” Trudeau told reporters Wednesday.</p>
                        <p>“The choices you make to stay at home, to self-isolate, not to go to six different grocery stores… these sorts of things are what will arrest the spread and the increase of this virus.”</p>
                        <p>As well Patty Hajdu, Canada's Minister of Health, and Dr. Theresa Tam, Chief Public Health Officer of Canada, were both asked on Wednesday to offer their professional assessments of what a "best case" and a "worst-case" scenario looks like for Canada as it continues to grapple with the outbreak of COVID-19.</p>
<!--                        <a href=""><button class="apply">Apply here</button></a>-->
                    </div>
                </div>
                <br><br>
<!--                news block-->
                <div class="cnews">
                    <h3>Coronavirus outbreak: Canada, provinces impose strongest actions yet to control COVID-19</h3>
                        
                    <iframe src="https://www.youtube.com/embed/L1gFWlc5prQ"></iframe>
                    <!--                    content having all paras related to youtube video-->

                    <div class="content">
                        <p>Prime Minister Justin Trudeau announced on Monday that Canada's borders will be closed to all non-citizens and non-permanent residents...with a few exceptions. Mike Armstrong and Abigail Bimman report on who's still allowed into Canada, and which Canadian airports are still accepting international flights. Plus, Heather Yourex-West looks at the growing uncertainty facing Canadians over the closure of schools and daycares, which may carry into the fall.</p>
<!--                        <a href=""><button class="apply">Apply here</button></a>-->
                    </div>
                </div>
            </div>
        </showcase>
        <footer>
            <p> Thank You For Vising Us...</p>
        </footer>
    </body>
</html>