<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Prevention</title>
    <meta charset="UTF-8">
    <meta name="description" content="corona Prevention">
    <meta name="keywords" content="covid-19,corona,pendamic,prevention">
    <meta name="author" content="SmitShah">

    <link rel="stylesheet" href="../stylesheet/styles.css" />
    <link rel="stylesheet" href="../stylesheet/prevention.css" />
    
</head>

<body>
    <div class="wrapper" style="background: url('../images/prevention3.jpg') no-repeat center center;background-size: 100% 100%;">
        <nav>
            <img class="logo" src="../images/logo.png"  alt="logo" />
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="aboutcorona.html">About corona</a></li>
                <li><a href="live.html">Live Stats</a></li>
                <li><a href="#">Prevention</a></li>
                <li><a href="assessment.html">Self-Assessment</a></li>
<!--                <li><a href="#">Global News</a></li>-->

            </ul>
        </nav>
        <img style="position: absolute; right: 5%;width: 30%;" src="../images/cooltext354910400491750.png"/>
    </div>
    <div class="main">
        <h1>Everyone Should</h1>
<!--        section-->
        <div class="s1">
            
            <img src="../images/protect-wash-hands.png"/>
<!--            content-->
            <div class="innerDiv">
                <h2>Clean your hands often</h2>
                <ul>
                    <li>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</li>
                    <li>If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. Cover all surfaces of your hands and rub them together until they feel dry.</li>
                    <li>Avoid touching your eyes, nose, and mouth with unwashed hands.</li>
                </ul>
            </div>
        </div>
        
        <div class="s1">
            
            <img src="../images/protect-quarantine.png"/>
            <div class="innerDiv">
                <h2>Avoid close contact</h2>
                <ul>
                    <li>Avoid close contact with people who are sick</li>
                    <li>Stay home as much as possible.pdf icon</li>
                    <li>Put distance between yourself and other people.
                    <ul>
                        <li>Remember that some people without symptoms may be able to spread virus.</li>
                        <li>Keeping distance from others is especially important for people who are at higher risk of getting very sick.</li>
                        </ul></li>
                </ul>
            </div>
        </div>
        
        <div class="s1">
            
            <img src="../images/cloth-face-cover.png"/>
            <div class="innerDiv">
                <h2>Cover your mouth and nose with a cloth face cover when around others</h2>
                <ul>
                    <li>You could spread COVID-19 to others even if you do not feel sick.</li>
                    <li>Everyone should wear a cloth face cover when they have to go out in public, for example to the grocery store or to pick up other necessities.
                    <ul>
                        <li>Cloth face coverings should not be placed on young children under age 2, anyone who has trouble breathing, or is unconscious, incapacitated or otherwise unable to remove the mask without assistance.</li></ul></li>
                    <li>The cloth face cover is meant to protect other people in case you are infected.</li>
                    <li>Do NOT use a facemask meant for a healthcare worker.</li>
                    <li>Continue to keep about 6 feet between yourself and others. The cloth face cover is not a substitute for social distancing.</li>
                </ul>
            </div>
        </div>
        
        <div class="s1">
            
            <img src="../images/COVIDweb_06_coverCough.png"/>
            <div class="innerDiv">
                <h2>Cover coughs and sneezes</h2>
                <ul>
                    <li>If you are in a private setting and do not have on your cloth face covering, remember to always cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.</li>
                    <li>Throw used tissues in the trash.</li>
                    <li>Immediately wash your hands with soap and water for at least 20 seconds. If soap and water are not readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.</li>
                </ul>
            </div>
        </div>
        
         <div class="s1">
            
            <img src="../images/COVIDweb_09_clean.png"/>
            <div class="innerDiv">
                <h2>Clean and disinfect</h2>
                <ul>
                    <li>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</li>
                    <li>If surfaces are dirty, clean them. Use detergent or soap and water prior to disinfection.</li>
                    <li>Then, use a household disinfectant. Most common EPA-registered household disinfectantexternal icon will work.</li>
                </ul>
            </div>
        </div>
<!--        videos-->
        <div class="vds">
            <h2 style="text-align: center">More Details:</h2>
            <iframe src="https://youtube.com/embed/FC4soCjxSOQ"></iframe>
            <iframe src="https://youtube.com/embed/d914EnpU4Fo"></iframe>
        </div>
    </div>
    <footer>
        <p> Thank You For Vising Us...</p>
    </footer>
</body>

</html>
